<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>EasyFood</title>
  <!-- Font Awesome -->
   <link href="../public/bootstrap/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../public/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../public/bootstrap/css/users.css" rel="stylesheet">
   <script type="text/javascript" src="../public/bootstrap/js/jquery-3.3.1.min.js"></script>
</head>
<body>

  <!-- en tête connexion et inscriptione-->
  <div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul>
        <li><i class="fa fa-phone"></i> +225 {{user.contacts}}</li>
        <li><i class="fa fa-envelope"></i> {{user.email}}</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="name"><img src="../public/images/new.png" width="35px" height="35px" class="img-circle img-responsive" style="border: 1px solid darkgrey"> {{user.nom}} {{user.prenoms}}  <span class="fa fa-sort-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">modifier mon profil</a></li>
            <li><a href="deconnexion">déconnexion</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</div>
 <!--fin -->
  <!-- barre de navigation -->
  <div class="navbar navbar-dark">
      <div class="navbar-header">
          <a href="/" class="navbar-brand"><span>E</span>asy<span>F</span>ood</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
      </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/users" class="nav-item nav-link">Bonnes pratiques</a></li>
            <li class="active"><a href="#" class="nav-link">conseils et sport</a></li>
            <li><a href="byourself" class="nav-link">faites le vous mêmes</a></li>
          </ul>
        </div>
   </div>
   <!-- fin -->
    <!-- débout de la page -->
    <div id="conseilsport" class="container">
        <h5>Bienvenue sur votre page conseils et sport<br>Recevez ici des conseils pratiques sur comment vous nourir sainement et maintenir la forme</h5>
        <br><br>
        <div class="big_content">
         {% for element in info.conseils %}
                <div class="publication_block">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <img src="../public/images/{{element.img}}" class="img-responsive">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <p>{{element.description}}</p>
                        </div>
                    </div>
                    <p class="txt">{{element.date_de_publication}}</p>
                    <div class="bouttons">
                            <ul>
                                <li>
                                     <button class="btn btn-default" onclick="showbutton();"><span class="fa fa-comments-o"></span> commentaires</button>
                                </li>
                            </ul>
                    </div>
                    <div class="commentaires_block">
                        <form method="post" action="advice_and_sport" class="form-inline"> <input type="hidden" name="name" value="{{user.nom}} {{user.prenoms}}"><input type="hidden" name="id_publication" value="{{element.id}}"><input type="hidden" name="typeForm" value="commentaire"><textarea class="form-control" placeholder="entrez votre commentaire" required name="commentaire"></textarea><input type="submit" value="ajouter commentaire"></form><br>
                        {% for commentaire in info.commentairesConseils %}
                            {% if commentaire.id_advice == element.id %}
                                <h3>{{commentaire.name}}</h3><p>{{commentaire.commentaire}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- fin -->
   <!--- footer -->
   <div class="footer_contain">
   <footer id="footer" class="container">
       <!--premiere partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h6 class="heading1"><span>E</span>asyFood</h6>
      <nav>
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Termes</a></li>
          <li><a href="#">Privé</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">boutique en ligne</a></li>
          <li><a href="#">carte du site</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <!-- deuxième partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6 class="heading">Location</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          cocody angré, Abidjan
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +225 671 635 47/+225</li>
        <li><i class="fa fa-envelope-o"></i> info@agromarket.com</li>
      </ul>
    </div>
    <!-- troisième partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6 class="heading">Nos nouvelles</h6>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Envoyer</button>
        </fieldset>
      </form>
    </div>
  </footer>
    </div>
    {% if success %}
        <div class="alert alert-success" id="alert" style="position: fixed;top: 10%;z-index: 35554;right:0;width: 250px;margin-right: -270px">
            <p style="color:green;font-size:1.3em">commenté avec succès</p>
        </div>
        <script>
            $(function(){
                $('#alert').animate({marginRight: "+=290"},500).delay(1000).animate({marginRight: "-=290"},300);
            });
        </script>
        {success = false}
    {% endif %}
    <!-- fin footer -->
  <!-- SCRIPTS -->
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../public/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../public/bootstrap/js/mdb.min.js"></script>
  <script src="../public/bootstrap/js/animate.js"></script>
  <script>
        function showbutton(){
             $('#conseilsport .big_content .commentaires_block').fadeToggle();
        }
    </script>
</body>
</html>

